@import "tailwindcss/preflight"; /* base */
@import "tailwindcss/utilities"; /* includes components + utilities */
@tailwind utilities;

/* Pretendard 제거 */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* 이거도 필요 없으면 삭제 가능 */
  --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans; /* ✅ Tailwind 설정에 따라 Roboto 적용 */
}
